* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color:cadetblue ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

p {
    font-style: italic;
    text-decoration: double seagreen ;
}